In [1]:
import glob
import xml.etree.ElementTree as ET
import pandas as pd

In [2]:
labels_s={'football':0}
out_put_dir='labels/'

In [3]:
save_dic={}
def convert(size, box):
    dw = 1./size[0]
    dh = 1./size[1]
    x = (box[0] + box[2])/2.0
    y = (box[1] + box[3])/2.0
    w = box[2] - box[0]
    h = box[3] - box[1]
    x = x*dw
    w = w*dw
    y = y*dh
    h = h*dh
    return [str(x),str(y),str(w),str(h)]

In [4]:
data=pd.read_csv('data.csv')
Unique_Images=data['filename'].unique()
data.head()

,filename,width,height,class,xmin,ymin,xmax,ymax
0,Full_match_left_428_fliped.jpg,853,480,football,458,67,468,76
1,A_L_1199.jpg,1920,1080,football,415,274,433,293
2,A_R_1854_fliped.jpg,1920,1080,football,236,976,307,1065
3,A_L_3880_fliped.jpg,1920,1080,football,1413,160,1437,177
4,A_L_5213_fliped.jpg,1920,1080,football,42,315,57,338

In [20]:
save_dic={}
for i in range(len(Unique_Images)):
    data_of_single_image=data[data['filename']==Unique_Images[i]]
    data_of_single_image=data_of_single_image.reset_index(drop=True)
    objects=[]
    for k in range(len(data_of_single_image)):
        filename = data_of_single_image['filename'][k]
        width=data_of_single_image['width'][k]
        height=data_of_single_image['height'][k]
        label = data_of_single_image['class'][k]
        
        xmin = data_of_single_image['xmin'][k]
        ymin = data_of_single_image['ymin'][k]
        xmax = data_of_single_image['xmax'][k]
        ymax = data_of_single_image['ymax'][k]

        objects.append([str(labels_s[label])]+convert([width,height], [xmin,ymin,xmax,ymax]))
    
    save_dic[filename]=objects


Files=list(save_dic.keys())

len(Files)

11450

In [27]:
for i in range(len(Files)):
    with open(out_put_dir+Files[i].split('.')[0]+'.txt','w') as f:
        for line in save_dic[Files[i]]:
            f.writelines(' '.join(line)+'\n')